* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-Light-slate: hsl(252, 100%, 67%);
  --color-Light-royal-blue: hsl(241, 81%, 54%);
  --color-Violet-blue: hsla(256, 72%, 46%, 1);
  --color-Persain-blue: hsla(241, 72%, 46%, 0);
  --color-White: hsl(0, 0%, 100%);
}
body {
  font-family: "Hanken Grotesk", sans-serif;
}
main {
  color: var(--color-White);
}
.container {
  display: flex;
  justify-content: center;
}
.boxs {
  width: 550px;
  height: 400px;
  display: flex;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: var(--color-White);
  box-shadow: 8px 8px 36px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}
.box-1 {
  border-radius: 24px;
  padding: 24px;
  display: flex;
  gap: 24px;
  align-items: center;
  flex-direction: column;
  width: 275px;
  background-image: linear-gradient(
    180deg,
    var(--color-Light-slate),
    var(--color-Light-royal-blue)
  );
}
.box-2 {
  width: 275px;
  padding: 24px 16px;
}
.cir {
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(
    180deg,
    var(--color-Violet-blue),
    var(--color-Persain-blue)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.num-big {
  font-size: 64px;
  font-weight: 700;
}
.num-small {
  font-size: 14px;
  font-weight: 400;
  color: hsla(0, 0%, 85%, 0.692);
}
h1 {
  font-weight: 800;
  font-size: 24px;
}
.dis {
  font-size: 16px;
  text-align: center;
  width: 90%;
  font-weight: 300;
  color: hsla(0, 0%, 85%, 0.692);
}
.heading-sec {
  color: hsl(224, 30%, 27%);
  margin-bottom: 24px;
}
.color-red {
  color: hsl(0, 100%, 67%);
}
.color-ora {
  color: hsl(39, 100%, 56%);
}
.color-green {
  color: hsl(166, 100%, 37%);
}
.color-blue {
  color: hsl(234, 85%, 45%);
}
.reg {
  color: hsl(224, 30%, 27%);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.result {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
.op-l {
  font-weight: 400;
  color: hsla(224, 30%, 27%, 0.459);
}

.reg {
  padding: 12px 12px;
  border-radius: 12px;
}
.reg:not(:last-child) {
  margin-bottom: 14px;
}
.reg-r {
  background-color: hsla(0, 100%, 67%, 0.123);
}
.reg-o {
  background-color: hsla(39, 100%, 56%, 0.13);
}
.reg-g {
  background-color: hsla(166, 100%, 37%, 0.11);
}
.reg-b {
  background-color: hsla(234, 85%, 45%, 0.13);
}
.head {
  margin-left: -48px;
}
.icon {
  margin-left: -16px;
}
